<div class="slds-align_absolute-center slds-p-top_medium slds-p-bottom_small sfdx-button-bar">

	<div style="display: block;">
			
		<ul style="list-style-type: none;">
			<li>To deploy to new scratch org, login with your Dev Hub org credentials</li>
			<li>To deploy to existing dev org, login with your dev org credentials</li>
			<li>
				<a class="slds-button slds-button_brand sfdx-button_large" href="/login<% if (template)  { %>?template=<%= template %><% } %>">
				Login 
			</a>
		</li>
		</ul>

	</div>

</div>