<div class="slds-align_absolute-center slds-p-top_medium slds-p-bottom_small sfdx-button-bar">

	<div style="display: block;">

		<ul style="list-style-type: none;">
			<li>
				<a class="slds-button slds-button_brand sfdx-button_large" href="/login">
					Login
				</a>
			</li>
		</ul>

	</div>

</div>