	<p style="height:20px;"/>
	<div class="slds-text-align_center sfdx-note sfdx-slim slds-m-top_large" style="top:10px;">
		ISV labapp <p/>
		Modified by Kam <br/>
		Fork of <a href="https://github.com/wadewegner/deploy-to-sfdx" target="_blank">https://github.com/wadewegner/deploy-to-sfdx</a>
	</div>

</body>
</html>