<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deploy with Salesforce DX</title>
	<link rel="stylesheet" type="text/css" href="dist/assets/styles/salesforce-lightning-design-system.css" />

</head>

<body>

	<header class="slds-m-top_xx-large slds-m-bottom_medium">
		<h1 class="slds-text-heading_large slds-text-align_center">List of authorized users</h1>
	</header>