<% include ../partials/head %>

<h1 class="slds-text-heading_large slds-text-align_center">
    Dummy Partner Portal
</h1>

<br />
<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/login">
        Client Admin Login
    </a>
</h1>

<% include ../partials/footer %>