<% include ../partials/head %>

<h1 class="slds-text-heading_large slds-text-align_center">
    Connected App Demo Partner Portal
</h1>

<br />
<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/jwtinitiallogin">
        JWT Client Admin Login
    </a>
</h1>

<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/login">
        oAuth Client Admin Login
    </a>
</h1>

<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/registeredOauthUsers">
        oAuth Client User Management
    </a>
</h1>


<% include ../partials/footer %>