<% include ../partials/head %>

<br />
<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/login">
        Authorize a client org
    </a>
</h1>


<% include ../partials/footer %>