<% include ../partials/head %>

<br />
<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/login">
        Authorize a client org
    </a>
</h1>


<header class="slds-m-top_xx-large slds-m-bottom_medium">
    <h1 class="slds-text-heading_large slds-text-align_center">List of authorized users</h1>
</header>

<% include ../partials/actions %>


<% include ../partials/footer %>