<% include ../partials/head %>

<div class="sfdx-slim">
	<main class="slds-card slds-text-align_center">
		<p class="slds-m-top_small slds-m-bottom_small">Please login using your user credentials and give permissions</p>

		<% include ../partials/actions %>

	</main>

</div>

<% include ../partials/footer %>