<% include ../partials/head %>

<br />
<h1 class="slds-text-heading_large slds-text-align_center">
    <a href="/">
        Existing oAuth stored users
    </a>
</h1>

<% include ../partials/oauthuserlist %>

<% include ../partials/footer %>